In [6]:
import pandas as pd

In [7]:
brands = pd.read_csv('../Extraction/Landing/brands/brands.csv')
brands

   brand_id    brand_name source             timestamp_saved
0         1       Electra     DL  2024-04-30 11:18:44.525409
1         2          Haro     DL  2024-04-30 11:18:44.525409
2         3        Heller     DL  2024-04-30 11:18:44.525409
3         4   Pure Cycles     DL  2024-04-30 11:18:44.525409
4         5       Ritchey     DL  2024-04-30 11:18:44.525409
5         6       Strider     DL  2024-04-30 11:18:44.525409
6         7  Sun Bicycles     DL  2024-04-30 11:18:44.525409
7         8         Surly     DL  2024-04-30 11:18:44.525409
8         9          Trek     DL  2024-04-30 11:18:44.525409

In [8]:
brands.duplicated().sum()

0

In [9]:
brands.isnull().sum()

brand_id           0
brand_name         0
source             0
timestamp_saved    0
dtype: int64

In [10]:
brands.to_csv('../staging_1/brands/brands.csv', index = False)