In [8]:
import pandas as pd

In [9]:
customers = pd.read_csv('../staging_1/customers/customers.csv')
customers

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,source,timestamp_saved
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,DL,2024-04-28 17:57:07.056143
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,DL,2024-04-28 17:57:07.056143
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,DL,2024-04-28 17:57:07.056143
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,DL,2024-04-28 17:57:07.056143
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,DL,2024-04-28 17:57:07.056143
...,...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,NaN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,DL,2024-04-28 17:57:07.056143
1441,1442,Cassie,Cline,NaN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,DL,2024-04-28 17:57:07.056143
1442,1443,Lezlie,Lamb,NaN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,DL,2024-04-28 17:57:07.056143
1443,1444,Ivette,Estes,NaN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,DL,2024-04-28 17:57:07.056143
1444,1445,Ester,Acevedo,NaN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,DL,2024-04-28 17:57:07.056143

In [10]:
stores = pd.read_csv('../staging_1/stores/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,source,timestamp_saved
0,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,DL,2024-04-30 11:21:51.814680
1,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,DL,2024-04-30 11:21:51.814680

In [11]:
cities_with_stores = stores['city'].unique()
cities_with_stores

array(['Baldwin', 'Rowlett'], dtype=object)

In [12]:
customers['local'] = customers['city'].isin(cities_with_stores)
customers[customers['local'] == True]

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,source,timestamp_saved,local
67,68,Jayne,Kirkland,NaN,jayne.kirkland@hotmail.com,7800 Second Lane,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
78,79,Ashanti,Parks,NaN,ashanti.parks@hotmail.com,846 N. Helen St.,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
159,160,Omer,Estrada,NaN,omer.estrada@gmail.com,9 Honey Creek Street,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
313,314,Javier,Nichols,NaN,javier.nichols@msn.com,8944 Marconi St.,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
314,315,Justina,Jenkins,NaN,justina.jenkins@yahoo.com,8236 Creek St.,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
412,413,Ginette,Edwards,NaN,ginette.edwards@hotmail.com,9262 NW. Center Ave.,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
450,451,Jennette,Wooten,NaN,jennette.wooten@msn.com,8221 Bow Ridge Lane,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
472,473,Lashawna,Richardson,NaN,lashawna.richardson@hotmail.com,9920 Purple Finch St.,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
589,590,Cyndi,Dyer,NaN,cyndi.dyer@msn.com,313 West Argyle Ave.,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
656,657,Sam,Lester,NaN,sam.lester@gmail.com,563 South Beacon Lane,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
807,808,Vallie,Dixon,NaN,vallie.dixon@yahoo.com,85 E. Ann Drive,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
849,850,Stephanie,Browning,NaN,stephanie.browning@yahoo.com,9156 Lantern St.,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
996,997,Trinidad,Mcclain,NaN,trinidad.mcclain@msn.com,98 Tunnel Drive,Baldwin,NY,11510,DL,2024-04-28 17:57:07.056143,True
1028,1029,Ping,Quinn,NaN,ping.quinn@gmail.com,9051 Hanover Dr.,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True
1063,1064,Patsy,Russo,NaN,patsy.russo@gmail.com,8438 Fairway Avenue,Rowlett,TX,75088,DL,2024-04-28 17:57:07.056143,True

In [14]:
customers.to_csv('../staging_2/customers/customers.csv', index = False)