In [1]:
import pandas as pd

In [3]:
categories = pd.read_csv('../Extraction/Landing/categories/categories.csv')
categories

   category_id        category_name source             timestamp_saved
0            1    Children Bicycles     DL  2024-04-30 11:19:20.974010
1            2     Comfort Bicycles     DL  2024-04-30 11:19:20.974010
2            3    Cruisers Bicycles     DL  2024-04-30 11:19:20.974010
3            4  Cyclocross Bicycles     DL  2024-04-30 11:19:20.974010
4            5       Electric Bikes     DL  2024-04-30 11:19:20.974010
5            6       Mountain Bikes     DL  2024-04-30 11:19:20.974010
6            7           Road Bikes     DL  2024-04-30 11:19:20.974010

In [4]:
categories.duplicated().sum()

0

In [5]:
categories.isnull().sum()

category_id        0
category_name      0
source             0
timestamp_saved    0
dtype: int64

In [6]:
categories.to_csv('../staging_1/categories/categories.csv', index = False)