In [1]:
import pandas as pd

In [2]:
products = pd.read_csv('../Extraction/Landing/products/products.csv')
products

,product_id,product_name,brand_id,category_id,model_year,list_price,source,timestamp_saved
0,1,Trek 820 - 2016,9,6,2016,379.99,DL,2024-04-28 17:57:15.953684
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,DL,2024-04-28 17:57:15.953684
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,DL,2024-04-28 17:57:15.953684
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,DL,2024-04-28 17:57:15.953684
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,DL,2024-04-28 17:57:15.953684
...,...,...,...,...,...,...,...,...
329,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99,DL,2024-04-28 17:57:15.953684
330,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99,DL,2024-04-28 17:57:15.953684
331,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99,DL,2024-04-28 17:57:15.953684
332,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99,DL,2024-04-28 17:57:15.953684
333,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99,DL,2024-04-28 17:57:15.953684

In [3]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       334 non-null    int64
 1   product_name     334 non-null    object
 2   brand_id         334 non-null    int64
 3   category_id      334 non-null    int64
 4   model_year       334 non-null    int64
 5   list_price       334 non-null    float64
 6   source           334 non-null    object
 7   timestamp_saved  334 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 21.0+ KB

In [4]:
products.duplicated().sum()

13

In [8]:
products = products.drop_duplicates()

In [9]:
products.duplicated().sum()

0

In [10]:
products.isnull().sum()

product_id         0
product_name       0
brand_id           0
category_id        0
model_year         0
list_price         0
source             0
timestamp_saved    0
dtype: int64

In [11]:
products.to_csv('../staging_1/products/products.csv', index = False)