In [1]:
import pandas as pd

In [2]:
staffs = pd.read_csv('../Extraction/Landing/staffs/staffs.csv')
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,source,timestamp_saved
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,DL,2024-04-28 17:57:24.082613
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,DL,2024-04-28 17:57:24.082613
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,DL,2024-04-28 17:57:24.082613
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,DL,2024-04-28 17:57:24.082613
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,DL,2024-04-28 17:57:24.082613
5,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,DL,2024-04-28 17:57:24.082613
6,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,DL,2024-04-28 17:57:24.082613
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,DL,2024-04-28 17:57:24.082613
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,DL,2024-04-28 17:57:24.082613
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,DL,2024-04-28 17:57:24.082613

In [3]:
staffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   staff_id         10 non-null     int64
 1   first_name       10 non-null     object
 2   last_name        9 non-null      object
 3   email            9 non-null      object
 4   phone            8 non-null      object
 5   active           10 non-null     int64
 6   store_id         9 non-null      float64
 7   manager_id       9 non-null      float64
 8   source           10 non-null     object
 9   timestamp_saved  10 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 928.0+ bytes

In [4]:
staffs.duplicated().sum()

0

In [5]:
staffs.isnull().sum()

staff_id           0
first_name         0
last_name          1
email              1
phone              2
active             0
store_id           1
manager_id         1
source             0
timestamp_saved    0
dtype: int64

In [6]:
staffs=staffs.dropna()

In [7]:
staffs.isnull().sum()

staff_id           0
first_name         0
last_name          0
email              0
phone              0
active             0
store_id           0
manager_id         0
source             0
timestamp_saved    0
dtype: int64

In [8]:
staffs.to_csv('../staging_1/staffs/staffs.csv', index = False)