In [1]:
import pandas as pd

In [2]:
stores = pd.read_csv('../Extraction/Landing/stores/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,source,timestamp_saved
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,DL,2024-04-30 11:21:51.814680
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,DL,2024-04-30 11:21:51.814680
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,DL,2024-04-30 11:21:51.814680

In [3]:
stores.duplicated().sum()

0

In [4]:
stores = stores.dropna()

In [5]:
stores

,store_id,store_name,phone,email,street,city,state,zip_code,source,timestamp_saved
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,DL,2024-04-30 11:21:51.814680
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,DL,2024-04-30 11:21:51.814680

In [6]:
stores.to_csv('../staging_1/stores/stores.csv', index = False)